<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
    <script src="/static/js/jquery-3.4.1.min.js " type="text/javascript"></script>

     <script type="text/javascript" >

          $(function () {
                $('#btnAjax').click(function(){

                    $.ajax({
                        'url':'/ajax_handle',
                        'dataType':'json',
                        'asynx':false,//同步的ajax请求   如果是异步的话，不等待执行的代码直接执行成功的代码
                        success: function(data){
                             // alert(data.res)
                             if(data.res == 1){
                             $('#message').show().html('提示信息')
                         }
                        }
                    })

                });
          })

    </script>
    <style>
        #message{
            display: none;
            color:red
        }
    </style>
</head>
<body>
<input type="button" id = 'btnAjax' value="ajax请求">
<div id = 'message'></div>
</body>
</html>